/* Importando fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Resetar estilos padrão */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("./img/backfoods.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: #e4e3e3ef;

}

h2 {
    text-align: center;
    font-size: 18px;
}

/* Caixa Topo*/
.caixa-topo {
    margin: 10px auto;
    width: 70%;
    background-color: red;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.caixa-topo h1 {
    font-size: 26px;
}

.caixa-topo h2 {
    font-size: 16px;
}

/* Sessão Produto*/

.produto-sessao {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 90vw;
    flex-direction: row;
    justify-content: center;
}

/* Caixa Produto */

.produto-caixa {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 5px gray;
    width: 200px;
    text-align: center;
}

.produto-caixa:hover {
    box-shadow: 1px 3px 6px gray;
    cursor: pointer;
}

