/* Importando fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Resetar estilos padrão */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("./img/backfoods.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: #e4e3e3ef;

}

h2 {
    text-align: center;
    font-size: 18px;
}

/* Caixa Topo*/
.caixa-topo {
    margin: 30px auto;
    width: 70%;
    background-color: red;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(184, 184, 184);
}

.caixa-topo h1 {
    font-size: 26px;
}

.caixa-topo h2 {
    font-size: 16px;
}

/* Sessão Produto*/

.produto-sessao {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 90vw;
    flex-direction: row;
    justify-content: center;
}

/* Caixa Produto */

#temaki, #acai, #combo, #pizza {
    border: thick solid white;
}

.produto-caixa {
    margin: 8px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgb(184, 184, 184);
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.produto-caixa:hover {
    box-shadow: 1px 2px 10px gray;
}


.produto-caixa-imagem {
    width: 90%;
    margin: 20px auto;
}

.produto-caixa-imagem:hover {
    transform: scale(1.03);
    transition: 0.05s;
}

.produto-caixa-detalhe {
    font-size: 14px;
    text-align: left;
    color: #919191;
}

.produto-caixa-valor {
    font-weight: 500;
    margin: 10px;
}




.botao-comprar {
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    transition: 0.03s;
}

.botao-comprar:hover {
    background-color: red;
    transform: scale(1.03);
    transition: 0.05s;
    cursor: pointer;
}